[Unit]
Description=Inputless xflux daemon that geocodes based on your external IP address
After=network.target display-manager.service

[Service]
Type=forking
ExecStart=/usr/bin/auto-xflux
Restart=always

[Install]
WantedBy=graphical.target
